page-search-list {

    .list-item {
        padding: 0;
        background-color: color($colors, secondary);
        margin-bottom: 10px;
        border: 1px solid color($colors, edge);
    }

    .item-inner {
        border-bottom: none!important;
        padding-right: 0!important;
    }

    .icon{
        font-size: 3.5rem;
    }

    .thumbnail[item-left] {
        margin: 0;
        min-width: 60px;
        min-height: 60px;

        img {
            width: 60px;
            height: 60px;
        }
    }

    .icon[item-right] {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .label {
        margin: 8px;
    }

    .title {
        font-weight: bold;
        margin-top: 0!important;
    }

    .description, .title {
        font-size: 1.3rem;
        color: color($colors, text);
    }

    .subheader {
        text-align: center;
    }

}
