page-login {

    h2 {
        text-align: center;
    }

    .item {
        background-color: transparent;

        .item-inner {
            border-bottom: 0 !important;
        }

        p {
            color: #fff;
        }
    }

    .login{
        margin-top: 170px;
    }

    .input {
        padding-top: 5px;
        padding-bottom: 5px;
        border: 1px solid color($colors, edge);
        margin-bottom: 10px;
    }

    .button {
        color: color($colors, light);
        font-weight: bold;
        border: 1px solid color($colors, edge);
        background-color: rgba(150, 185, 200, 0.5);
        box-shadow: none;
        height: 6rem;
        margin-top: 15px;
        margin-bottom: 15px;

        .icon {
            line-height: inherit;
        }
    }

    .button.activated {
        background-color: color($colors, edge);
    }
}
